{% extends "main.html.twig" %}
{% block content %}
  <div id="searchPanel" class="dont-print">
	<form id="searchFrom" class="col s12" method="GET">
	  <div class="row">
		<div class="input-field col s12 m2">
		  <label for="first_name">Vorname</label>
		  <input name="vorname" type="text" value="{{ sArr[':vorname'] }}" id="first_name">
		</div>

		<div class="input-field col s12 m2">
		  <label for="last_name">Nachname</label>
		  <input name="name" type="text" value="{{ sArr[':name'] }}" id="last_name">
		</div>

		<div class="input-field col s12 m2">
		  {{ wochentag | raw }}
		</div>

		<div class="input-field col s12 m2">
		  {{ zeit | raw }}
		</div>

		<div class="input-field col s12 m2">
		  <label >
			<input name="showIntegra" type="checkbox" value="1" {% if sArr[':showIntegra'] == 1 %}checked{% endif %} ><span>Integra.</span>
		  </label>
		</div>

		<div class="input-field col s12 m2">
		  <label for="abgemeldet">
			<input name="abgemeldet" type="checkbox" value="1" id="abgemeldet" {% if sArr[':abgemeldet'] == 1 %}checked{% endif %} ><span>Abgemeldet</span>
		  </label>
		</div>

	  </div>

	  <div class="row">
		<div class="input-field col s12 m4">
		  <label for="kur_name">Kurse</label>
		  <input name="kur_name" type="text" value="{{ sArr[':kur_name'] }}" id="kur_name">
		</div>
		<div class="input-field col s12 m2">
		  {{ s_lehrId | raw }}
		</div>
		<div class="input-field col s12 m2">
		  {{ s_season | raw }}
		</div>
	  </div>

	  <div class="row">
		<div class="input-field col s12 m2">
		  <button type="submit" class="waves-effect waves-light btn-small">Suchen</button>
		</div>
	  </div>

	</form>
  </div>
  <!-- results -->
  <div id="anzDerKunden">
	{{ data|length }} Kunden
  </div>

  <div id="resultsDiv">
	<table class="kundenResTbl highlight">
	  <thead>
	  <tr>
		<th>
			Info
		</th>
		<th>
			Bezahlen
		</th>
		<th>
			Kurse
		</th>
		<th>
			Knd.-Nr. <input type="checkbox" class="print_select" name="print_kndnr" />
		</th>
		<th>
			Anrede <input type="checkbox" class="print_select" name="print_anrede" />
		</th>
		<th>
			Vorname <input type="checkbox" class="print_select" name="print_vorname" />
		</th>
		<th>
			Name <input type="checkbox" class="print_select" name="print_name" />
		</th>
		<th>
			Alter <input type="checkbox" class="print_select" name="print_alter" />
		</th>
		<th>
			Geburtsdatum <input type="checkbox" class="print_select" name="print_geburtsdatum" />
		</th>
		<th>
			Adresse
		</th>
		<th>
			Telefon <input type="checkbox" class="print_select" name="print_telefon" />
		</th>
		<th>
			Handy <input type="checkbox" class="print_select" name="print_handy" />
		</th>
		<th>
			Email <input type="checkbox" class="print_select" name="print_email" />
		</th>
	  </tr>
	  </thead>
	  <tbody>
	  {% for client in data %}
		{% set stl = "" %}
		{% if (client.courses is empty) or (client.is_active_client == '0') %}
		  {% set stl = "background:yellow;" %}
		{% elseif client.kundenNummer|first == 'i' %}
		  {% set stl = "background:Khaki;" %}
		{% endif %}
		{%  if client.istFotoErlaubt == 0 %}
		  {% set stl = stl ~ "border-left:5px solid red;" %}
		{% endif %}
		<tr style="{{stl}}">
		  <td>
			<a href="{{constant('BASIS_URL')}}/admin/kundeById/{{client.kndId}}">Info</a><br>
			<img class="isCashImg" src="{{constant('BASIS_URL')}}/Public/img/payment_logo/{{ client.logo_file }}">
		  </td>
		  <td>
			<a href="{{constant('BASIS_URL')}}/admin/bezahlenById/{{client.kndId}}">Bezahlen</a>
		  </td>
		  <td class="columnClientsCurses">
			{# printSqlKursTermin(client.kurse) #}
			{% for course in client.courses %}
				<b>{{ course.kurName }}</b><br>
				[{{ course.von|date('d.m.Y') }} - {{ course.bis|date('d.m.Y') }}]<br>
				{% for plan in course.stundenplan %}
					{{ indxToWeekday(plan.wochentag) }} {{ plan.anfang | date('H:i') }} - {{ plan.ende | date('H:i') }}<br>
					Raum: {{ plan.raum }}<br>
				{% endfor %}
			{% endfor %}
		  </td>
		  <td>
			{{ client.kundenNummer }}
		  </td>
		  <td>
			{{ client.anrede }}
		  </td>
		  <td>
			{{ client.vorname }}
		  </td>
		  <td>
			{{ client.name }}
		  </td>
		  {% if client.alter < 4 %}{% set alterColor = "color:red;" %}{% else %}{% set alterColor = "" %}{% endif %}
		  <td style="{{alterColor}}" class="columnAlter">
			{{ client.alter }}
		  </td>
		  <td>
			{{ client.geburtsdatum|date("d.m.Y") }}
		  </td>
		   <td>
			 {{client.strasse}} {{client.strNr}}<br>
			 {{client.plz}} {{client.stadt}}
		  </td>
		  <td>
			{{ client.telefon }}
		  </td>
		  <td>
			{{ client.handy }}
		  </td>
		  <td>
			{{ client.email }}
		  </td>
		</tr>
	  {% else %}
	  <tr>
		<td colspan="11">Nach Ihrer Anfrage wurden keine Daten gefunden.</td>
	  </tr>
	  {% endfor %}
	  </tbody>
	</table>
  </div>
{% endblock %}